<h1> Create New Video </h1>

<form action="/videos" method="POST">

  <label for="title">Title: </label>
  <input type="text" name="title" placeholder="Video Title">
  <br>
  <br>
  <label for="url">Video URL: </label>
  <input type="text" name="url" placeholder="Video URL">
  <br>
  <br>
  <label for="description">Description: </label>
  <textarea name="description" placeholder="Video Description"></textarea>
  <br>
  <input type="submit" value="Save">

</form>