
  <h2><%= @posts.title %></h2>
  <hr>
  <iframe width="560" height="315" src ="<%=video.url %>" frameborder="0" allowfullscreen></iframe>
  <p>Description:</p>
  <p><%= video.description %></p>
  <br>
  <br>
  <a href="http://localhost:9292/posts">Home</a>