
  <h2><%= @videos.title %></h2>
  <hr>
  <iframe width="560" height="315" src ="<%=@videos.url %>" frameborder="0" allowfullscreen></iframe>
  <p>Description:</p>
  <p><%= @videos.description %></p>
  <br>
  <br>
  <a href="http://localhost:9292/videos">Home</a>